# Android
.idea
.gradle

**/local.properties
**/*iml
**/output.json

**/build/generated
**/build/intermediates
**/build/tmp
**/outputs/bundle
**/outputs/logs
Project/AppBaoThucDinhCao/gradle/wrapper/gradle-wrapper.properties
Project/AppBaoThucDinhCao/build.gradle
Project/AppBaoThuc/local.properties
Project/AppBaoThuc/AppBaoThuc.iml
Project/AppBaoThuc/local.properties
Project/AppBaoThuc/app/app.iml
Training/QuanLyDonHang/app/app.iml
Training/QuanLyDonHang/app/app.iml
Project/AppBaoThuc/local.properties
