<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appbaothuc">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".alarmsetting.TypeLinearCameraActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".challenge.ChallengeActivity"
            android:theme="@style/Theme.AppCompat">
        </activity>
        <activity android:name=".alarmsetting.TypePlayMathActivity" />
        <activity android:name=".alarmsetting.TypePlayShakeActivity" />
        <activity android:name=".alarmsetting.TypePlayCameraActivity" />
        <activity android:name=".alarmsetting.TypePlayDefaultActivity" />
        <service android:name=".services.NotificationService" />
        <service
            android:name=".services.ServiceCreator"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".services.ActionReceiver">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
                <!--<action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE" />-->
                <!--<action android:name="android.intent.action.TIME_SET" />-->
                <!--<action android:name="android.intent.action.TIMEZONE_CHANGED" />-->
            <!--</intent-filter>-->
        </receiver>
    </application>

</manifest>